@charset "utf-8";
@font-face{
  font-family:'u2800'; src:url('http://unicode-table.com/fonts/u/u2800-webfont.eot');src:url('http://unicode-table.com/fonts/u/u2800-webfont.eot?#iefix') format('embedded-opentype'),url('http://unicode-table.com/fonts/u/u2800-webfont.woff') format('woff'),url('http://unicode-table.com/fonts/u/u2800-webfont.ttf') format('truetype'),url('http://unicode-table.com/fonts/u/u2800-webfont.svg#universaliaregular') format('svg');
  font-weight:normal;
  font-style:normal;
}


[contenteditable=true] {
  color:$color_editable;
  padding:2px;

}
span[contenteditable=true]:hover,
span[contenteditable=true]:focus  {
  color:$color_edit_focus;
  box-shadow: -1px 1px 3px #234;
}

ul {
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  min-height:50px;
}


li > span.init-name {
  display:inline-block;
  max-width:180px;
}

.draggable span.drag-handle {
  visibility: hidden;
  // height: 60px;
  float: left;
  display: inline-block;
  padding-right: 4px;

  font-size: 30px;
  font-family: u2800;
}

li.draggable:hover span.drag-handle {
  visibility: visible;
}

span.drag-handle:hover {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.cursor_moving {
  cursor: move;
}

.el_moving {
  opacity: 0.6;
  z-index: 300;
}

.el_moving span.drag-handle {
  visibility: visible;
}



