pom.xml
*jar
/lib/
/classes/
/target/
/resources/
.lein-deps-sum
// Don’t commit the following files and directories created by pub and dart2js
out/
*.js_
*.js.deps
*.js.map

// generated 
web/main.js
/.sass-cache/
// Include when developing application packages
pubspec.lock 


server/src/dndscraper/login.clj

.lein-repl-history

chromedriver
