pom.xml
*jar
/lib/
/classes/
/target/
.lein-deps-sum
// Don’t commit the following files and directories created by pub and dart2js
out/
*.js_
*.js.deps
*.js.map

// generated 
web/main.js
// Include when developing application packages
pubspec.lock 

