@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Federo|Oxygen|Belleza);
/*
$primary-1:#0D58A6;
$primary-2:#26517C;
$primary-3:#04376C;
$primary-4:#4188D2;
$primary-5:#689CD2;

$secondary-a-1:#2818B1;
$secondary-a-2:#382F85;
$secondary-a-3:#130873;
$secondary-a-4:#5B4CD8;
$secondary-a-5:#7C71D8;

$secondary-b-1:#FFC700;
$secondary-b-2:#BFA030;
$secondary-b-3:#A68100;
$secondary-b-4:#FFD540;
$secondary-b-5:#FFE073;

$complement-1:#FF9900;
$complement-2:#BF8630;
$complement-3:#A66300;
$complement-4:#FFB240;
$complement-5:#FFC773;

*/
/*
$primary-1:#0A1D5C ;
$primary-2 : #19213F ;
$primary-3:#020E33;
$primary-4:#2A4398;
$primary-5:#3E5398;

$secondary-a-1:#35065B;
$secondary-a-2:#2D163F;
$secondary-a-3:#1D0133;
$secondary-a-4:#642497;
$secondary-a-5:#6D3997;

$secondary-b-1:#005E33;
$secondary-b-2:#14402C;
$secondary-b-3:#00341D;
$secondary-b-4:#1C9960;
$secondary-b-5:#33996B;

$complement-1:#885E00;
$complement-2:#5D491D;
$complement-3:#4C3400;
$complement-4:#B48621;
$complement-5:#B48E3B;

*/
/* line 107, ../../sass/_base.scss */
.std-btn, .icon-btn, .undo, .redo, .action-button {
  display: inline-block;
  background-color: #eee;
  background-size: contain;
  border: 1px solid #015057;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 114, ../../sass/_base.scss */
.std-btn:hover, .icon-btn:hover, .undo:hover, .redo:hover, .action-button:hover {
  -webkit-box-shadow: 0px 0px 3px 0px #005059 inset;
  -moz-box-shadow: 0px 0px 3px 0px #005059 inset;
  box-shadow: 0px 0px 3px 0px #005059 inset;
}
/* line 117, ../../sass/_base.scss */
.std-btn:active, .icon-btn:active, .undo:active, .redo:active, .action-button:active {
  -webkit-box-shadow: 0px 0px 3px 1px #005059 inset;
  -moz-box-shadow: 0px 0px 3px 1px #005059 inset;
  box-shadow: 0px 0px 3px 1px #005059 inset;
}

/* line 121, ../../sass/_base.scss */
.std-btn.disabled, .disabled.icon-btn, .disabled.undo, .disabled.redo, .disabled.action-button {
  opacity: 0.2;
  -webkit-box-shadow: 0px 0px 4px 2px #005059 inset;
  -moz-box-shadow: 0px 0px 4px 2px #005059 inset;
  box-shadow: 0px 0px 4px 2px #005059 inset;
}

/* line 126, ../../sass/_base.scss */
.icon-btn, .undo, .redo {
  height: 1.8em;
  width: 1.8em;
}

/* line 1, ../../sass/_modal.scss */
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

/* line 18, ../../sass/_modal.scss */
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

/* line 23, ../../sass/_modal.scss */
.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(white, #999999);
  background: -webkit-linear-gradient(white, #999999);
  background: -o-linear-gradient(white, #999999);
}

/* line 36, ../../sass/_modal.scss */
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

/* line 55, ../../sass/_modal.scss */
.close:hover {
  background: #00d9ff;
}

/* line 13, ../../sass/screen.scss */
body {
  background-color: #01112b;
  font-family: 'Oxygen',  Arial, sans-serif;
}

/* line 19, ../../sass/screen.scss */
ul {
  padding: 0;
}

/* line 22, ../../sass/screen.scss */
h1 {
  font-family: 'Federo', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8em;
  text-transform: none;
  text-decoration: none;
  letter-spacing: -0.05em;
  word-spacing: 0em;
  line-height: 0.8em;
  color: #ffb434;
  /* text-shadow: 1px 1px 1px $title-color,
  	     2px 2px 1px darken($title-color,10),
  	     3px 3px 1px darken($title-color,20),
  	     4px 4px 1px darken($title-color,30);
  	     */
  text-shadow: -1px 1px #cd8100;
}

/* line 41, ../../sass/screen.scss */
ul {
  list-style-type: none;
}

/* line 46, ../../sass/screen.scss */
#title-bar {
  width: 98%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 50, ../../sass/screen.scss */
.title-pane {
  width: 700px;
  display: inline-block;
}

/* line 55, ../../sass/screen.scss */
.title {
  padding-left: 15px;
}

/* line 58, ../../sass/screen.scss */
#main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  box-sizing: border-box;
  color: #021b44;
  top: 1px;
  left: 1px;
  min-height: 400px;
  max-height: 800px;
  min-width: 1200px;
}

/* line 71, ../../sass/screen.scss */
#init-pane {
  background-color: #d1c4af;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  box-sizing: border-box;
  padding: 0px;
  border: 1px solid #01112b;
  margin-left: 1px;
  overflow: hidden;
  overflow-y: scroll;
  max-width: 455px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/*
Initiative List Element
*/
/* line 4, ../../sass/_hpmeter.scss */
.hp-meter {
  height: 15px;
  /* Can be anything */
  position: relative;
  background: #021b44;
  padding: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.3) inset;
}

/* line 13, ../../sass/_hpmeter.scss */
.hp_meter > span.tmp {
  display: block;
  height: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  position: relative;
}

/* line 20, ../../sass/_hpmeter.scss */
.hp-meter > span.hp {
  display: block;
  height: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #2bc253;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(37%, #2bc253), color-stop(69%, #54f054));
  background: -webkit-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  background: -moz-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  background: -o-linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  background: linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
}

/* line 35, ../../sass/_hpmeter.scss */
.bloodied > span.hp {
  background-color: #f0a3a3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0a3a3), color-stop(100%, #f42323));
  background-image: -webkit-linear-gradient(top, #f0a3a3, #f42323);
  background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
  background-image: -o-linear-gradient(top, #f0a3a3, #f42323);
  background-image: linear-gradient(top, #f0a3a3, #f42323);
}

/* line 7, ../../sass/_initlist.scss */
.init-list {
  margin: 0;
  padding: 1px;
}

/* line 12, ../../sass/_initlist.scss */
.actor.selected {
  border: 2px solid blue;
  background-color: lightblue;
}

/* line 17, ../../sass/_initlist.scss */
.readying {
  background: darkgrey;
  color: grey !important;
}

/* line 21, ../../sass/_initlist.scss */
.actor {
  background-color: #d1c4af;
  padding: 6px;
  padding-left: 0px;
  margin: 2px;
  border: 1px solid black;
  max-height: 60px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  box-shadow: 1px 1px 1px #888888;
}

/* line 37, ../../sass/_initlist.scss */
.vitals {
  width: 227.5px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
/* line 46, ../../sass/_initlist.scss */
.vitals .actions {
  position: relative;
  float: right;
  display: block;
  right: 0;
  font-size: smaller;
  text-align: right;
  color: red;
}

/* line 56, ../../sass/_initlist.scss */
.effects {
  font-size: 12px;
  display: inline-block;
  padding-left: 4px;
}

/* line 61, ../../sass/_initlist.scss */
.effects ul {
  overflow-y: auto;
  overflow-x: none;
  max-height: 50px;
  width: 110px;
}

/* line 68, ../../sass/_initlist.scss */
.round_marker {
  color: #e9e9e9;
  background-color: #38929a;
  text-align: center;
  box-shadow: 0 0 4px #01112b inset;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* line 1, ../../sass/_reservelist.scss */
#reserve-list {
  background: grey;
  color: grey;
}

/* line 7, ../../sass/_reservelist.scss */
#reserve-list li {
  height: 1.2em;
  overflow: hidden;
  transition: height 300ms;
  -webkit-transition: height 300ms;
  /* Safari */
}
/* line 13, ../../sass/_reservelist.scss */
#reserve-list li :hover {
  height: 60px;
}

/* line 19, ../../sass/_reservelist.scss */
#reserve-list.drag-hover {
  border: 1px solid blue;
}

/* line 23, ../../sass/_reservelist.scss */
#reserve-list .actor {
  background: lightgrey;
}

/* line 27, ../../sass/_reservelist.scss */
#reserve-list [contenteditable=true] {
  display: none;
}

@font-face {
  font-family: 'u2800';
  src: url("http://unicode-table.com/fonts/u/u2800-webfont.eot");
  src: url("http://unicode-table.com/fonts/u/u2800-webfont.eot?#iefix") format("embedded-opentype"), url("http://unicode-table.com/fonts/u/u2800-webfont.woff") format("woff"), url("http://unicode-table.com/fonts/u/u2800-webfont.ttf") format("truetype"), url("http://unicode-table.com/fonts/u/u2800-webfont.svg#universaliaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 9, ../../sass/_drag.scss */
[contenteditable=true] {
  color: blue;
  padding: 2px;
}

/* line 15, ../../sass/_drag.scss */
span[contenteditable=true]:hover,
span[contenteditable=true]:focus {
  color: red;
  box-shadow: -1px 1px 3px #234;
}

/* line 20, ../../sass/_drag.scss */
ul {
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 50px;
}

/* line 33, ../../sass/_drag.scss */
li > span.init-name {
  display: inline-block;
  max-width: 180px;
}

/* line 38, ../../sass/_drag.scss */
.draggable span.drag-handle {
  visibility: hidden;
  height: 60px;
  float: left;
  display: inline-block;
  padding-right: 4px;
  font-size: 30px;
  font-family: u2800;
}

/* line 49, ../../sass/_drag.scss */
li.draggable:hover span.drag-handle {
  visibility: visible;
}

/* line 53, ../../sass/_drag.scss */
span.drag-handle:hover {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

/* line 58, ../../sass/_drag.scss */
.cursor_moving {
  cursor: move;
}

/* line 62, ../../sass/_drag.scss */
.el_moving {
  opacity: 0.6;
  z-index: 300;
}

/* line 67, ../../sass/_drag.scss */
.el_moving span.drag-handle {
  visibility: visible;
}

/* line 72, ../../sass/_drag.scss */
.init-num {
  float: right;
  display: inline-block;
}

/* line 82, ../../sass/screen.scss */
#center-pane {
  background-color: #d1c4af;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  box-sizing: border-box;
  padding: 0px;
  border: 1px solid #01112b;
  margin-left: 1px;
  overflow: hidden;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}

/* line 4, ../../sass/_turncontrol.scss */
.turn-control, .instructions {
  margin: 0px;
  background-color: #38929a;
  padding: 15px;
  padding-left: 10px;
  color: white;
  text-shadow: #12284c 1px 1px 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 14, ../../sass/_turncontrol.scss */
.turn-control {
  margin: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  position: relative;
  z-index: 2;
}

/* line 26, ../../sass/_turncontrol.scss */
.undo {
  background-image: url("../images/undo.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4dc8d3), color-stop(100%, #005059));
  background-image: url("../images/undo.png"), -webkit-linear-gradient(#4dc8d3, #005059);
  background-image: url("../images/undo.png"), -moz-linear-gradient(#4dc8d3, #005059);
  background-image: url("../images/undo.png"), -o-linear-gradient(#4dc8d3, #005059);
  background-image: url("../images/undo.png"), linear-gradient(#4dc8d3, #005059);
}

/* line 31, ../../sass/_turncontrol.scss */
.redo {
  background-image: url("../images/redo.png"), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4dc8d3), color-stop(100%, #005059));
  background-image: url("../images/redo.png"), -webkit-linear-gradient(#4dc8d3, #005059);
  background-image: url("../images/redo.png"), -moz-linear-gradient(#4dc8d3, #005059);
  background-image: url("../images/redo.png"), -o-linear-gradient(#4dc8d3, #005059);
  background-image: url("../images/redo.png"), linear-gradient(#4dc8d3, #005059);
}

/* line 36, ../../sass/_turncontrol.scss */
.turn-marker {
  -webkit-box-flex: 4;
  -moz-box-flex: 4;
  -ms-box-flex: 4;
  box-flex: 4;
  line-height: 34px;
  padding-left: 1em;
}

/* line 41, ../../sass/_turncontrol.scss */
.action-button {
  height: 1em;
  margin-right: 1px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4dc8d3), color-stop(100%, #005059));
  background-image: -webkit-linear-gradient(#4dc8d3, #005059);
  background-image: -moz-linear-gradient(#4dc8d3, #005059);
  background-image: -o-linear-gradient(#4dc8d3, #005059);
  background-image: linear-gradient(#4dc8d3, #005059);
  border: 1px solid #015057;
  -webkit-box-shadow: 0 0 4px 0px #38929a inset;
  -moz-box-shadow: 0 0 4px 0px #38929a inset;
  box-shadow: 0 0 4px 0px #38929a inset;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 12px;
  margin-left: 1px;
}
/* line 56, ../../sass/_turncontrol.scss */
.action-button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #38929a), color-stop(100%, #0e4146));
  background-image: -webkit-linear-gradient(#38929a, #0e4146);
  background-image: -moz-linear-gradient(#38929a, #0e4146);
  background-image: -o-linear-gradient(#38929a, #0e4146);
  background-image: linear-gradient(#38929a, #0e4146);
}

/* line 61, ../../sass/_turncontrol.scss */
.instructions {
  display: inline-block;
  width: 80%;
  position: relative;
  float: right;
  right: 5px;
  top: -21px;
  z-index: 1;
  border: 1px solid black;
  max-height: 5px;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 8px 0px #015057;
  -moz-box-shadow: 3px 3px 8px 0px #015057;
  box-shadow: 3px 3px 8px 0px #015057;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition-property: max-height;
  -moz-transition-property: max-height;
  -o-transition-property: max-height;
  transition-property: max-height;
  -webkit-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
/* line 78, ../../sass/_turncontrol.scss */
.instructions:hover {
  max-height: 800px;
}
/* line 81, ../../sass/_turncontrol.scss */
.instructions:hover .hover-handle {
  opacity: 0.5;
}
/* line 86, ../../sass/_turncontrol.scss */
.instructions .hover-handle {
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: -4px;
}
/* line 92, ../../sass/_turncontrol.scss */
.instructions .hover-handle:after {
  content: '≡';
}

/* line 88, ../../sass/screen.scss */
#selected-actor {
  border-top: 3px solid #01112b;
}

/* line 91, ../../sass/screen.scss */
#right-pane {
  background-color: #d1c4af;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  box-sizing: border-box;
  padding: 0px;
  border: 1px solid #01112b;
  margin-left: 1px;
  overflow: hidden;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
